@model Producto
@{
    ViewData["Title"] = "Registrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Registrar</h1>



<div class="card text-center">
    <div class="card-header">
    </div>
    <div class="card-body">
        <form asp-action="GuardarCambios" asp-controller="Home" method="post">

            <input asp-for="iDpRODUCTO" type="hidden"/>

            <div class="mb-2">
                <label class="form-label">Codigo Barras</label>
                <input type="text" class="form-control form-control-sm" asp-for="CodigoBarra">
            </div>
            <label class="form-label">Nombre</label>
            <input type="text" class="form-control form-control-sm" asp-for="Nombre">
            <div class="mb-2">
                <label class="form-label">Categoria</label>
                <input type="text" class="form-control form-control-sm" asp-for="Categoria">
            </div>
            <div class="mb-2">
                <label class="form-label">Marca</label>
                <input type="text" class="form-control form-control-sm" asp-for="Marca" />
            </div>
            <div class="mb-2">
                <label class="form-label">Precio</label>
                <input type="text" class="form-control form-control-sm" asp-for="Precio">
            </div>
            <button type="submit" class="btn btn-success btn-sm">Guardar</button>
            <a asp-action="Index" asp-controller="Home" class="btn btn-danger btn-sm">Volver a lista</a>
        </form>
    </div>

</div>
